# Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Backend
BACKEND_PORT=
JWT_SECRET=your-secret-key-change-this-in-production-min-256-bits

# Frontend
VITE_API_URL=http://localhost:8080/api
VITE_WS_URL=ws://localhost:8080/ws